.achievement-chart
  position: relative
  height: 150px
  overflow: hidden
  p
    text-align: center
  span
    position: absolute
    right: 50px
    bottom: 40px



.inward-chart
  height: 210px
  overflow: hidden
  #inward
    width: 100%
    height: 250px



.management-chart
  height: 210px
  overflow: hidden
  #management
    width: 100%
    height: 250px




.closure-chart
  height: 300px
  overflow: hidden
  p
    text-align: center
  #closure
    width: 100%
    height: 310px




.pipeline-status-chart
  margin-top: 40px
  p
    text-align: center
  #pipeline-status
    width: 100%
    height: 300px



.critical-account-chart
  margin-top: 40px
  height: 180px 
  overflow: hidden
  p
    text-align: center
  #critical-account
    height: 200px
    width: 100%




.promotional-activities-chart
  height: 220px
  overflow: hidden
  p
    text-align: center
    margin-bottom: 10px
  #promotional-activities
    width: 100%
    height: 190px




.pending-status-chart
  p
    text-align: center
    font-size: 16px
    padding-left: 37px
    display: block
  #pending-status
    height: 200px