---
title: Achievement Summary
---
extends layouts/_layout
block content
  // partial example
  .achievement
    .back
      a(href="#")
        +icon('arrow-left')
    .content
      h1 Achievement Summary
      h2 Target VS Disbursement
      ul
        li 
          span Business Target
          b 32L
        li 
          span Business Achievement
          b 25L
      .achievement__row
        .achievement__block
          h3 disbursement
          .disbursement-chart
            #disbursement
        .achievement__block
          h3 Company rank
          .achievement__block__img
            img(src="img/home/medal.png", alt="")
            b 39
        .achievement__block
          h3 Regional rank
          .achievement__block__img
            img(src="img/home/medal.png", alt="")
            b 04
      h2 Collection
      ul
        li 
          span Target
          b 04 L
        li 
          span Arhieved
          b 3 DSL
      h2 Top performens in organisation
      table.achievement__table
        tr
          th rank
          th name
          th bisiness growth
          th profitability
          th sile
        tr
          td 1
          td ram
          td 9.7
          td 7.3
          td 17
        tr
          td 2
          td suresh
          td 9.7
          td 7.3
          td 17
        tr
          td 3
          td mashesh
          td 9.7
          td 7.3
          td 17
        tr
          td 4
          td vikram
          td 9.7
          td 7.3
          td 17
        tr
          td 5
          td virat
          td 9.7
          td 7.3
          td 17
        
