---
title: Graphs
---
extends layouts/_layout
block content
  // partial example
  .graphs
    .back
      a(href="#")
        +icon('arrow-left')
    .graphs__content
      .graphs__block
        .graphs__title
          h2 Target Vs Achievement
        .graphs__data
          .graphs__data__row
            p Target :
            span.target 20
          .graphs__data__row
            p Achievement :
            span.achievement 10
          .graphs__data__row
            p Achievement % :
            span.percent 
        .achievement-chart
          p Target Vs Achievement
          #achievement
          span 50%
        ul.graphs__info
          li Pending Approved Cases : 7L
          li Declined Cases : 4L
        a(href="#").graphs__btn BM Remarks


      .graphs__block
        .graphs__title
          h2 Inward Status
        .graphs__data
          .graphs__data__row
            p Total target :
            span 20L
          .graphs__data__row
            p Inward for a month :
            span 10L
          .graphs__data__row
            p Complete files :
            span 70%
        h3 C1A & C1B file Status
        .inward-chart
          #inward
        ul.graphs__info
          li Total files in C1A : 
            span.c1 4
          li Total files in C1B : 
            span.c2 2
        a(href="#").graphs__btn BM Remarks
        


      .graphs__block
        .graphs__title
          h2 Lead Management
        .graphs__data
          .graphs__data__row
            p Total Leads
            span 6
          .graphs__data__row
            p Avg new customer/day
            span 6
        h3 Lead Status
        .management-chart
          #management
        a(href="#").graphs__btn BM Remarks
        

      .graphs__block
        .graphs__title
          h2 Task Closure
        .graphs__data
          .graphs__data__row
            p Total Tasks
            span 10
          .graphs__data__row
            p Open
            span 3
          .graphs__data__row
            p Closed
            span 7 
          .graphs__data__row
            p Closure
            span 70%
          .graphs__data__row
            p Avg customer visit/day
            span 7 
        .closure-chart
          p Task Status
          #closure
        a(href="#").graphs__btn BM Remarks


      .graphs__block
        .graphs__title
          h2 Pipeline Status
        .pipeline-status-chart
          p Pipeline Status
          #pipeline-status
        a(href="#").graphs__btn BM Remarks



      .graphs__block
        .graphs__title
          h2 Critical Account Follow Up
        table.graphs__table
          tr
            td
            td(colspan="2") DMD
            td
            td(colspan="2") ARR
          tr
            td
            td NoS
            td DMD
            td Coll
            td Arrear
            td Coll
          tr
            td Total critical A/c's
            td 12
            td 25
            td 15
            td 18
            td 12
          tr
            td Non-starter
            td 3
            td 6
            td 6
            td 6
            td 6
          tr
            td Non-starter
            td 3
            td 6
            td 6
            td 6
            td 6
          tr
            td Non-starter
            td 3
            td 6
            td 6
            td 6
            td 6
          tr
            td Non-starter
            td 3
            td 6
            td 6
            td 6
            td 6
          tr
            td Non-starter
            td 3
            td 6
            td 6
            td 6
            td 6
        .critical-account-chart
          p Critical account 
          #critical-account
        a(href="#").graphs__btn BM Remarks





      .graphs__block.graphs__block--data
        .graphs__title
          h2 Collection Status
        .graphs__data
          .graphs__data__row
            p Demand for month
            span 7L
          .graphs__data__row
            p Collection at demand
            span 7L
          .graphs__data__row
            p Collection at arrear
            span 7L
          .graphs__data__row
            p Uncollected demand
            span 7L
        .graphs__data
          .graphs__data__row
            p Cheque return
            span 7L
          .graphs__data__row
            p Collection(Chq return)
            span 7L
          .graphs__data__row
            p Uncollected
            span 7L
          .graphs__data__row
            p Overall collection/month
            span 7L
        .graphs__data
          .graphs__data__row
            p Demand upto date
            span 7L
          .graphs__data__row
            p Overall collection/month
            span 7L
          .graphs__data__row
            p Demand
            span 7L
          .graphs__data__row
            p Arrear
            span 7L
        a(href="#").graphs__btn BM Remarks





      .graphs__block
        .graphs__title
          h2 Promotional Activities
        .graphs__data
          .graphs__data__row
            p Planned :
            span 6
          .graphs__data__row
            p Completed :
            span 4
          .graphs__data__row
            p Complete files :
            span 67%
        .promotional-activities-chart
          p Promotional Activity
          #promotional-activities
        .graphs__data
          .graphs__data__row
            p New customers added
            span 13
          .graphs__data__row
            p Disbursed
            span 2
          .graphs__data__row
            p Conversion %
            span 13%
        a(href="#").graphs__btn BM Remarks




      .graphs__block
        .graphs__title
          h2 TPS/PDD Pending Status
        .graphs__data
          .graphs__data__row
            p Total TPS/PDD
            span 12
          .graphs__data__row
            p TPS pending > 45 d
            span 10
          .graphs__data__row
            p PDD pending > 45 d
            span 2
          .graphs__data__row
            p TPS/PDD Completed 
            span 7
          .graphs__data__row
            p TPS Completed 
            span 5
          .graphs__data__row
            p PDD Completed 
            span 2
          .graphs__data__row
            p TPS Pending
            span 5
          .graphs__data__row
            p PDD Pending
            span 0
        .pending-status-chart
          p TPS/PDD
          //- .promotional-activities-chart__row
          //-   div 
          //-     b
          //-     | Pianned 
          //-   div 
          //-     b
          //-     | Completed
          #pending-status
        a(href="#").graphs__btn BM Remarks
      
      
      
      table.table.graphs__table
        tr
          td(rowspan="13" style="background: #fff") Efforts
          td(colspan="2") CSP Name
          td Pollachi
          td Jaikaruppasamy
        tr
          td(colspan="2") OCT care plan
          td 425
          td 80
        tr
          td(rowspan="4" style="background: #fff") PJP 20-26 oct
          td Planned
          td 90
          td 23
        tr
          td Completed
          td 90
          td 23
        tr
          td Open
          td 90
          td 23
        tr
          td %
          td 90%
          td 23%
        tr
          td(rowspan="3") Leads
          td Total
          td 90
          td 23
        tr
          td Conversion
          td 90
          td 23
        tr
          td Convert %
          td 90
          td 23
        tr
          td(rowspan="3") Tasks
          td Open
          td 90
          td 23
        tr
          td Closed
          td 90
          td 23
        tr
          td %
          td 90
          td 23
        tr
          td Pipeline
          td Index
          td 0.92
          td 1.25



        tr
          td(rowspan="9" style="background: #eee") Target <br>Vs <br>Achiev-ement
          td(colspan="2") Target
          td 127
          td 27
        tr
          td(colspan="2") Inward
          td 425
          td 80
        tr
          td(rowspan="2" style="background: #fff") New
          td Nos
          td 90
          td 23
        tr
          td Amt
          td 35.00
          td 20.00
        tr
          td(rowspan="2" style="background: #eee") Exist-ing
          td Nos
          td 90
          td 23
        tr
          td Amt
          td 35.00
          td 20.00
        tr
          td(rowspan="2" style="background: #fff") Total
          td Nos
          td 90
          td 23
        tr
          td Amt
          td 35.00
          td 20.00
        tr
          td(colspan="2") Ach %
          td 66%
          td 74%
        