---
title: Help & Support
---
extends layouts/_layout
block content
  // partial example
  .help
    .back
      a(href="#")
        +icon('arrow-left')
        span Help & Support
    form.help__form
      p Segment
      .help__form__select
        select
          option(value="1") Critical Aoccounts
          option(value="2") Critical Aoccounts2
          option(value="3") Critical Aoccounts3
        +icon('arrow-bottom')
      p Severity
      .help__form__select
        select
          option(value="1") High
          option(value="2") High2
          option(value="3") High3
        +icon('arrow-bottom')
      p Support Required
      textarea
      button(type="submit") Submit
