---
title: Index Page
---
extends layouts/_layout
block content
  //- // mixin example
  //- +icon('facebook')

  //- // variable set example
  //- - let list = ['text 1', 'text 2', 'text 3'];

  //- // loop example
  //- ul  
  //-   for item in list
  //-     li= item
  // partial example
  include ./home/intro