---
title: All Pages
---
extends layouts/_layout
block content
  // partial example
  .pages
    h1 All Pages
    ul
      li
        a(href="index.html") Home
      li
        a(href="training.html") Training
      li
        a(href="help.html") Help
      li
        a(href="graphs.html") Graphs
      li
        a(href="analytics.html") Analytics
      li
        a(href="analytics-2.html") Analytics-2
      li
        a(href="statistics.html") Growth in Business