---
title: Growth in Business
---
extends layouts/_layout
block content
  // partial example
  .statistics
    .back
      a(href="#")
        +icon('arrow-left')
    .statistics__content
      .statistics__title
        h2 Arrear in days  Month on month
      .debt-chart
        p Title
        #debt
      .statistics__title
        h2 Bucket Wise Grading - July 19
      table.table
        tr
          th
          th Name of the MO
          th XXXX XX
        tr
          td(rowspan="6" style="background: #eee") OTC
          td NoS
          td 419
        tr
          td NoS
          td 419
        tr
          td NoS
          td 419
        tr
          td NoS
          td 419
        tr
          td NoS
          td 419
        tr
          td NoS
          td 419
        tr
          td(rowspan="6" style="background: #fff") OTA
          td NoS
          td 419
        tr
          td NoS
          td 419
        tr
          td NoS
          td 419
        tr
          td NoS
          td 419
        tr
          td NoS
          td 419
        tr
          td NoS
          td 419
        tr
          td(rowspan="6" style="background: #eee") INPA
          td NoS
          td 419
        tr
          td NoS
          td 419
        tr
          td NoS
          td 419
        tr
          td NoS
          td 419
        tr
          td NoS
          td 419
        tr
          td NoS
          td 419
        tr
          td(rowspan="6" style="background: #fff") RISK1
          td NoS
          td 419
        tr
          td NoS
          td 419
        tr
          td NoS
          td 419
        tr
          td NoS
          td 419
        tr
          td NoS
          td 419
        tr
          td NoS
          td 419
        tr
          td(rowspan="6" style="background: #eee") RISK2
          td NoS
          td 419
        tr
          td NoS
          td 419
        tr
          td NoS
          td 419
        tr
          td NoS
          td 419
        tr
          td NoS
          td 419
        tr
          td NoS
          td 419
        tr
          td(rowspan="6" style="background: #fff") Total
          td NoS
          td 419
        tr
          td NoS
          td 419
        tr
          td NoS
          td 419
        tr
          td NoS
          td 419
        tr
          td NoS
          td 419
        tr
          td NoS
          td 419
      
      .statistics__title
        h2 Business Profitability
      table.table-statistics
        thead
          tr
            th Risk Management
            th(colspan="2") Nov'19
            th
            th(colspan="3") Dec'19 (current)
          tr
            td Achievement
            td Target
            td Achieved
            td Target
            td My <br>Contribution
            td Org-wide <br>performance
        tbody
          tr
            td Arrears Collection (in Lacs)
            td(style="background: #FAFFD1") 10
            td(style="background: #FAFFD1") 28
            td(style="background: #D4FFD1") 8
            td(style="background: #D4FFD1") 26
            td(style="background: #D4FFD1") 15
              span.bottom ^
          tr
            td Arrears Collection (in Lacs)
            td(style="background: #FAFFD1") 10
            td(style="background: #FAFFD1") 28
            td(style="background: #D4FFD1") 8
            td(style="background: #D4FFD1") 26
            td(style="background: #D4FFD1") 15
              span.top ^
          tr
            td Arrears Collection (in Lacs)
            td(style="background: #FAFFD1") 10
            td(style="background: #FAFFD1") 28
            td(style="background: #D4FFD1") 8
            td(style="background: #D4FFD1") 26
            td(style="background: #D4FFD1") 15
              span.middle -
          tr
            td Arrears Collection (in Lacs)
            td(style="background: #FAFFD1") 10
            td(style="background: #FAFFD1") 28
            td(style="background: #D4FFD1") 8
            td(style="background: #D4FFD1") 26
            td(style="background: #D4FFD1") 15
              span.top ^
        thead
          tr
            th Risk Management
            th(colspan="2") Nov'19
            th
            th(colspan="3") Dec'19 (current)
          tr
            td Achievement
            td Target
            td Achieved
            td Target
            td My <br>Contribution
            td Org-wide <br>performance
        tbody
          tr
            td Arrears Collection (in Lacs)
            td(style="background: #FAFFD1") 10
            td(style="background: #FAFFD1") 28
            td(style="background: #D4FFD1") 8
            td(style="background: #D4FFD1") 26
            td(style="background: #D4FFD1") 15
              span.bottom ^
          tr
            td Arrears Collection (in Lacs)
            td(style="background: #FAFFD1") 10
            td(style="background: #FAFFD1") 28
            td(style="background: #D4FFD1") 8
            td(style="background: #D4FFD1") 26
            td(style="background: #D4FFD1") 15
              span.top ^
          tr
            td Arrears Collection (in Lacs)
            td(style="background: #FAFFD1") 10
            td(style="background: #FAFFD1") 28
            td(style="background: #D4FFD1") 8
            td(style="background: #D4FFD1") 26
            td(style="background: #D4FFD1") 15
              span.middle -
          tr
            td Arrears Collection (in Lacs)
            td(style="background: #FAFFD1") 10
            td(style="background: #FAFFD1") 28
            td(style="background: #D4FFD1") 8
            td(style="background: #D4FFD1") 26
            td(style="background: #D4FFD1") 15
              span.top ^
        thead
          tr
            th Risk Management
            th(colspan="2") Nov'19
            th
            th(colspan="3") Dec'19 (current)
          tr
            td Achievement
            td Target
            td Achieved
            td Target
            td My <br>Contribution
            td Org-wide <br>performance
        tbody
          tr
            td Arrears Collection (in Lacs)
            td(style="background: #FAFFD1") 10
            td(style="background: #FAFFD1") 28
            td(style="background: #D4FFD1") 8
            td(style="background: #D4FFD1") 26
            td(style="background: #D4FFD1") 15
              span.bottom ^
          tr
            td Arrears Collection (in Lacs)
            td(style="background: #FAFFD1") 10
            td(style="background: #FAFFD1") 28
            td(style="background: #D4FFD1") 8
            td(style="background: #D4FFD1") 26
            td(style="background: #D4FFD1") 15
              span.top ^
          tr
            td Arrears Collection (in Lacs)
            td(style="background: #FAFFD1") 10
            td(style="background: #FAFFD1") 28
            td(style="background: #D4FFD1") 8
            td(style="background: #D4FFD1") 26
            td(style="background: #D4FFD1") 15
              span.middle -
          tr
            td Arrears Collection (in Lacs)
            td(style="background: #FAFFD1") 10
            td(style="background: #FAFFD1") 28
            td(style="background: #D4FFD1") 8
            td(style="background: #D4FFD1") 26
            td(style="background: #D4FFD1") 15
              span.top ^






      .statistics__title
        h2 Profitablity in business for the month of April '19
      table.table
        tr
          th Block
          th
          th
          th Apr
        tr
          td Profitability
          td Arrear in days
          td Days
          td 
        tr
          td .
          td
          td
          td
        tr 
          td(rowspan="6" style="background: #fff") OTC/OTA/INPA/ RISK-1 CCOUNTS - NEED BUCKET WISE GRAPHICAL REPRESENTATION & DATA TABLE      
          td # of Accounts
          td No of %
          td
        tr
          td # of days arrears
          td Days
          td 
        tr
          td current demand(Rs. lacs)
          td Rs.in lacs
          td 
        tr
          td Arrears
          td Rs.in lacs
          td
        tr 
          td AHO
          td Rs.in lacs
          td 
        tr
          td
          td %
          td



