---
title: Training
---
extends layouts/_layout
block content
  // partial example
  .training
    .back
      a(href="#")
        +icon('arrow-left')
        span Training
    .training__intro
      img(src="img/training/training-intro-bg.png", alt="")
    .training__filter
      p Filter by
      select
        option(value="1") Type of course
        option(value="2") Type of course2
        option(value="3") Type of course3
    .training__list
      .training__block
        .training__block__img
          img(src="img/training/training-img.png", alt="")
        .training__block__text
          h3
            a(href="#") Risk Mitigation in Collections
          .stars
            a(href="#").active
              +icon('star')
            a(href="#").active
              +icon('star')
            a(href="#").active
              +icon('star')
            a(href="#")
              +icon('star')
            span (Rating 3)
          a(href="#").btn Start now
      .training__block
        .training__block__img
          img(src="img/training/training-img.png", alt="")
        .training__block__text
          h3
            a(href="#") Customer Engagement Module & Campaign Planning
          .stars
            a(href="#").active
              +icon('star')
            a(href="#").active
              +icon('star')
            a(href="#").active
              +icon('star')
            a(href="#")
              +icon('star')
            span (Rating 3)
          a(href="#").btn Start now
      .training__block
        .training__block__img
          img(src="img/training/training-img.png", alt="")
        .training__block__text
          h3
            a(href="#") Risk Mitigation in Collections
          .stars
            a(href="#").active
              +icon('star')
            a(href="#").active
              +icon('star')
            a(href="#").active
              +icon('star')
            a(href="#")
              +icon('star')
            span (Rating 3)
          a(href="#").btn Start now


    
        