//BEGIN pop-up
.modal.help#help
  h3 Help & Support
  form.help__form
    p Segment
    .help__form__select
      select
        option(value="1") Critical Aoccounts
        option(value="2") Critical Aoccounts2
        option(value="3") Critical Aoccounts3
      +icon('arrow-bottom')
    p Severity
    .help__form__select
      select
        option(value="1") High
        option(value="2") High2
        option(value="3") High3
      +icon('arrow-bottom')
    p Support Required
    textarea
    input(type="submit" value="Submit")



.modal.prformers#prformers
  .prformers__content
    h2 Top Performers in the Organization
    table
      tr
        th
          img(src="img/home/trophy.png", alt="")
        th Business Growth
        th Profitability
      tr
        td
          .top-perfomens__img
            img(src="img/home/user.png", alt="")
          | Ram
        td 9.7
        td 9.7
      tr
        td
          .top-perfomens__img
            img(src="img/home/user.png", alt="")
          | Suresh
        td 9.7
        td 9.7
      tr
        td
          .top-perfomens__img
            img(src="img/home/user.png", alt="")
          | Suresh
        td 9.7
        td 9.7
      tr
        td
          .top-perfomens__img
            img(src="img/home/user.png", alt="")
          | You
        td 9.7
        td 9.7
      tr
        td
          .top-perfomens__img
            img(src="img/home/user.png", alt="")
          | Vikram
        td 9.7
        td 9.7
      tr
        td
          .top-perfomens__img
            img(src="img/home/user.png", alt="")
          | Vikram
        td 9.7
        td 9.7
      tr
        td
          .top-perfomens__img
            img(src="img/home/user.png", alt="")
          | Vikram
        td 9.7
        td 9.7
      tr
        td
          .top-perfomens__img
            img(src="img/home/user.png", alt="")
          | Vikram
        td 9.7
        td 9.7
//END pop-up